@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: arial;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: #233eff;
    background-size: contain;
    background-repeat: no-repeat;
}

h1 {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 0px #1d30b9;
    padding: 10px;
}