@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #8AA6A3, #4C5958);

}

main {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(12, 50, 46, 0.671);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
color: #10403B;
text-align: center;
text-shadow: 1px 1px 2px #0a2623b4;
}

h2{
color: #127369;
}

p {
    text-align: justify;
}